# Arquivos compilados do Java
*.class

# Pasta de output de compilação
/bin/

# Arquivos de log
*.log

# Arquivos do BlueJ
*.ctxt

# Arquivos de configuração de IDEs
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Pacotes gerados
*.jar
*.war
*.ear